.hero-section {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white; /* Цвет текста, чтобы он выделялся на фоне */
    text-align: center; /* Выравнивание текста по центру */
    padding: 200px 50px; /* Отступы внутри секции */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный оверлей, делает текст читабельным */
    z-index: 1;
  }
  
  div {
    max-height: 38em;
  }
  
  .text-content {
    position: relative;
    z-index: 2; /* Помещает текст над оверлеем */
  }
  
  .buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #3c85d4;
  }
  
  /* Стили для ссылок */
  .text-content a {
    color: #aad4ff;
  }
  
  .text-content a:hover {
    color: #fff;
  }
  
  /* Стили для основного заголовка */
  .hero-section h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; /* Фон страницы */
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #f6efee;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Изменено на space-between для равномерного распределения контента */
    width: 100%;
  }
  
  .navbar-logo, .navbar-section-right {
    display: flex;
    align-items: center;
  }
  
  .logo, .profile {
    height: 60px;
    width: auto;
    margin-right: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .logo-text {
    font-weight: 600;
    font-size: 20px;
    color: #a55747;
  }
  
  .navbar-item {
    color: #a55747;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
  }
  
  .navbar-item:hover {
    background-color: #bcc5f1;
    color: #ffffff;
    border-radius: 4px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-section-left, .navbar-section-right {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    .navbar-item {
      width: 100%;
      text-align: left;
    }
  
    .navbar-section-right {
      align-items: center; /* Центрируем элементы в мобильной версии */
    }
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("https://media.stickerswiki.app/maymunkuchinski_by_fstikbot/1469075.160.gif");
  }
  
  .login-form {
    margin-top: 10%;
    padding: 2em;
    border-radius: 10px;
    width: 80%; /* или другой процент/ширина по вашему выбору */
    max-width: 700px; /* увеличьте max-width */
    min-height: 66vh;
    text-align: center;
  }
  
  .login-form h1 {
    margin-bottom: 20px;
    color: #7bec7b;
  }
  
  .login-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px; /* Скругленные углы для полей ввода */
  }
  
  .login-form button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #ffc107; /* Желтый цвет кнопки */
    color: white;
    border-radius: 20px; /* Скругленные углы для кнопки */
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-form button:hover {
    background-color: #e0a800; /* Темно-желтый цвет при наведении */
  }
  
  .signup-prompt {
    margin-top: 20px;
    color: #7bec7b;
  
  }
  
  .signup-prompt a {
    color: #53e7a4; /* Ссылки в стиле Bootstrap */
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-prompt a:hover {
    text-decoration: underline;
  }